/* color pallate */
/* 
#ffffff backgroud
#00184c text 1
#3872a8 text 2
#2b506f text 3
 */

html{
    background-color: #ffffff;
    opacity: "30%";
    font-family: 'Bebas Neue', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}
body{
    height: 100%;
}
*{
   margin:0;
   padding:0;
   letter-spacing: 2px;
}
h1,h3, h4{
    font-size: 56px;
    color: #00184c;
}
.mainTitle{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
h2{
    font-size: 32px;
    color: #ffffff ;
}
.sidebar{
    height: 100%;
    width: 30%;
    max-width: 30%;
    align-items: center;
    justify-content: center;
    background-color: #3872a8;
    font-family: 'Bebas Neue', cursive;
    position:absolute
}

#myChart{
    margin-top: -10%;
    margin-left: -5%;
}
#myChart text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.sidebarContent{
    margin-top: 25%!important;
    margin: 0 auto;
    width: 80%;
    height: 80%;
}
.budgetNum{
    justify-content: center;
    text-align: center;
    background-color: #2b506f;
    color: #ffffff;
    width: 30%;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    margin-top:3%;
}
.budgetChart{
    font-family: 'Source Sans Pro', sans-serif!important;
    margin-top: 8%;
}
.main{
    float: right;
    width: 70%;
    height: 100%;
    min-height: 100%;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align:center;
}
.formDiv{
    justify-content: center;
    width: 25%;
    text-align: center;
    margin-left: 37.5%;
    font-family: 'Bebas Neue', cursive;
}
label{
    color: #00184c;
    font-size: 20px;
}
input[type='text'], [type='number']{
    width: 100%;
    font-family: 'Bebas Neue', cursive;
    border: solid 2px #3872a8;
    color: #3872a8;
    font-size: 20px;
}
ul{
    list-style: none;
}
.thDiv{
    margin-top: 2%;
}
.thDiv table th{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    table-layout: fixed;
    width: 100%;
    padding: 8px;
    color: #00184c;
}
.reset{
    width: max-content;
}
table {
  font-family: arial, sans-serif;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #2b506f;
  font-size: 20px;
  font-weight: 900;
  table-layout: fixed;
  text-align: left;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #3872a8;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
button{
  margin-top: 3%;
  background: none;
  border: solid 2px #3872a8;
  color: #3872a8;
  cursor: pointer;
  width: 25%;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}
.table{
    text-align:center;
}